Enosis Solutions and Therap
=================================================
1. Java/Python/PHP/C++/C#
2. OOP - Software Development, Design Patterns
3. DBMS, (MySQL, NoSQL(MongoDB)
4. ORM -> Hibernate, Enitity Framework
5. IDE 
6. Docker, Kubernetes
7. Microservices
8. Unit Testing, CI/CD
9. Data Modeling, Test Driven, Data Driven
10. Multi Tier Distributed Software Architecture.
11. 0Auth, JWT, RestAPI, Spring Boot, React JS

*): ORM - Must, English Spoken

Reve Systems:
=================================================
1. Java
2. Java EE & Spring Framework (Spring Boot)
3. JPA/Hibernate
4. JavaScript (jQuery)
5. HTML5 & CSS3
6. React
7. Tomcat /Apache
8. Tomcat /Apache
9. Git
10. Maven/Gradle
11. Experience in: MySQL/PostgreSQL/Oracle.
12. Good knowledge in Linux (Preferred)
13. Good to have knowledge in: MongoDB(NoSQL).
14. CI/CD tools: Jenkins
15. Knowledge in AWS and Kubernetes will be plus point.
16. Should have a strong agile/scrum methodology experience.
17. Technical Documents

